@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Kumbh+Sans:wght@700&family=Lato&family=Noto+Sans:wght@700&family=Nunito:wght@700&family=Outfit:wght@700&family=PT+Sans&family=Padauk:wght@700&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
/* Top Navbar */

#TopNav {
  display: flex;
  justify-content: space-around;
  padding: 0.6rem;
  /* margin-top: 0.2rem; */
  color: white;
  background-color: black;
}
#contactTop {
  /* border: 1px solid red; */
  display: flex;
}
#phone {
  display: flex;
}
#mail {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}
#appInfo {
  display: flex;
  align-items: center;
}
#TopInfo {
  /* border: 1px solid red; */
  display: flex;
}
.track {
  margin-right: 1.5rem;
}
#BottomNav {
  /* border: 1px solid firebrick; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid whitesmoke;
  box-shadow: 2px 2px 5px rgb(122, 122, 122);
}
#logo a {
  text-decoration: none;
  color: rgb(80, 83, 255);
  font-size: 2rem;
  font-weight: 700;
}
#searchBar {
  display: flex;
  align-items: center;
}
#searchBar input {
  width: 25rem;
  height: 2rem;
  border-radius: 1rem;
  border: 1px solid rgb(172, 171, 171);
}
input[type="text"]::placeholder {
  /* border: 1px solid rebeccapurple; */
  width: fit-content;
  position: relative;
  left: 1.6rem;
}
#searchImg {
  position: relative;
  left: 1.5rem;
  top: 0.1rem;
}
#right {
  display: flex;
}
#india {
  display: flex; 
  margin-right: 1rem; 
}
#login a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.6rem;
}
@media(max-width: 750px) {
  #TopNav {
      display: none;
  }
  #BottomNav {
      flex-direction: column;
  }
}
@media(max-width: 500px) {
  #searchBar input {
      width: 20rem;
  }
}

/* Left Navigation */

li {
  list-style: none;
  position: relative;
  width: fit-content;
  margin: auto;
  padding: 1.5rem;
}
a {
  text-decoration: none;
  color: black;
}
#button {
  width: fit-content;
  margin: auto;
  position: relative;
  top: 2.8rem;
  border: 1px solid black;
  padding: 0.6rem;
  cursor: pointer;
}
.main-content {
  /* border: 1px solid red; */
  display: flex;
}
#leftNav {
  margin-right: 5rem;
  margin-left: 10rem;
  margin-top: 2rem;
}
.check {
  /* border: 1px solid red; */
  padding-left: 6rem;
  padding-right: 6rem;
  position: relative;
  top: 2rem;
}
.product {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  width: 59rem;
}
#fur {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: auto; */
}
#big-box {
  margin: 1rem;
  padding: 0.4rem;
  border: 1px solid black;
  border-radius: 1rem;
  text-align: center;
}
#fur button {
  margin-top: 0.1rem;
  padding: 0.4rem;
  border: none;
  cursor: pointer;
}
.clients {
  /* border: 1px solid red; */
  width: 50rem;
}
.clients h1 {
  width: fit-content;
  margin-left: 48%;
  color: rgb(80, 83, 255);
}
.clients-info {
  display: flex;
  position: relative;
  top: 1rem;
  color: rgb(70, 70, 133);
}
.clients-wrap img {
  border-radius: 1rem;
}
.clients-wrap {
  /* border: 1px solid red; */
  margin: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
}
.proBtn button {
  margin: 0.2rem;
}
/* .cName {
  width: fit-content;
  position: relative;
  left: 0.9rem;
}
.cMail {
  margin-right: 0.4em;
  position: relative;
  right: 1rem;
} */
.description {
  display: flex;
}
#desc {
  margin-left: 0rem;
  padding: 0rem 2rem 1rem 5rem;
  display: flex;
  flex-direction: column;
}
.about {
  margin-top: 1rem;
}
#about-head  {
  font-weight: 800;
  font-size: 1.1rem;
}
#otherDetails {
  margin-top: 1rem;
}
#descBtn {
  margin-top: 1rem;
}
#descBtn button {
  padding: 0.5rem;
  margin-right: 0.3rem;
  border: none;
}
.btnn {
  border: none;
  padding: 0.5rem;
  width: fit-content;
  margin-top: 1rem;
}
#login-head {
  width: fit-content;
  margin: auto;
  position: relative;
  top: 6rem;
}
form {
  border: 1px solid black;
  position: relative;
  top: 8rem;
  width: fit-content;
  margin: auto;
  padding: 2.2rem;
}
form input {
  padding: 0.6rem;
  margin: 0.4rem;
}
#login-head span {
  color: rgb(80, 83, 255);
}
#login {
  width: fit-content;
  border: none;
  padding: 0.6rem;
  cursor: pointer;
  position: relative;
  left: 38%;
}
#forget {
  width: fit-content;
  margin: auto;
  position: relative;
  top: 0.5rem;
  font-size: 0.8rem;
}
#forget a {
  color: blue;
  position: relative;
  top: 0.5rem;
  left: 0.1rem;
}
.home {
  /* border: 1px solid red; */
  width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeHead {
  position: relative;
  bottom: 0.8rem;
}
.homeHead p {
  width: fit-content;
  margin: auto;
}
.homeHead span{
  color: rgb(80, 83, 255);
}
.socials {
  display: flex;
  align-items: center;
}
.homeImg img {
  opacity: 0.5;
}
.aboutUs {
  /* color: rgb(85, 85, 255); */
  color: rgb(107, 106, 106);
}
.whyus {
  text-align: center;
  color: rgb(155, 155, 155);
}
.founders {
  position: relative;
  top: 1.5rem;
}
.founder {
  margin-top: 2rem;
  text-align: center;
  display: flex;
}
.founder div {
  margin: 1.5rem;
}
#end {
  margin-top: 2rem;
}
/* #searchIt {
  padding-left: 2rem;
} */